@model IEnumerable<Social.Models.UserProfile>

@{
    ViewBag.Title = "Index";
}

@section scripts
{
    <script src="~/App/AngularController/HomeController.js"></script>
    <script src="~/App/AngularController/DashboardController.js"></script>
    @*<script src="~/App/AngularController/MenuController.js"></script>*@
    <script src="~/App/Dashboard/FriendsController.js"></script>
    <script src="~/App/AngularController/DialogController.js"></script>
    @*<script src="~/App/Services/Dialog.js"></script>*@

}




<h2>Index</h2>



<br />

<div ng-controller="FriendsController" >

    <input ng-model="query" type="text" class="form-control" placeholder="Search" />

    <div ng-repeat="user in Users | filter:query" style="width:250px;display:inline-block; margin:10px;">

        <div class="friendsdiv" style="padding:18px;">
            <p>First Name: &nbsp; {{user.FirstName}}</p>
            <p>Last Name: &nbsp; {{user.LastName}}</p>
            <p>E-Mail: &nbsp; {{user.Email}}</p>
            <p><a href="#" ng-click="open(user)">View</a></p>
        </div>

    </div>

    <button class="btn btn-default" ng-click="open(1)">Open me!</button>

    @Html.Partial("_Dialog")
</div>

<br />



<br />

<div ng-controller="DashboardController">



    <div ng-grid="gridOptions" class="myGrid"></div>

    <div class="selectedItems">{{mySelections}}</div>

    <style>
        .myGrid 
        {
            //width: 500px;
            height: 250px;
        }
    </style>

</div>




<!--

<div ng-controller="Grid2Controller">

    <div ui-grid="gridOptions" ui-grid-selection class="grid"></div>

    <style>
        .grid {
              width: 100%;
              height: 400px;
                }
    </style>

</div>

-->





    <!--
    <div ng-controller="DashboardController">
        <input ng-model="query" type="text" class="form-control" placeholder="Search" />

        <table class="table">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>Click</th>
                </tr>
            </thead>

            <tbody ng-repeat="user in Users | filter:query ">
                <tr>
                    <td>{{user.Username}}</td>
                    <td>{{user.FirstName}}</td>
                    <td>{{user.FirstName}}</td>
                    <td>{{user.Email}}</td>
                    <td>{{user.Address}}</td>
                    <td><a href="#" ng-click="clicked(user)">Click</a></td>
                </tr>
            </tbody>
        </table>
    </div>
        -->
