
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<h3>@ViewData["Message"]</h3>

<h3>State: @ViewData["State"]</h3>
<h3>Day Time High: @ViewBag.DayTimeHigh</h3>
<h3>Morning Low: @ViewData["MorningLow"]</h3>
