

<div> <!--ng-controller="DialogController"-->

    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">{{items.FirstName}}</h3>
        </div>

        <img height="100px" style="float:right;" ng-src="{{items.ProfilePicture}}" />


        <div class="modal-body">
            <!--
            <ul>
                
                <li class="labelData"><span>FirstName:</span><a ng-click="selected.item = items.FirstName">FirstName:{{items.FirstName}}</a></li>
                <li class="labelData"><span>LastName:</span><a ng-click="selected.item = items.LastName">LastName:{{items.LastName}}</a></li>
                <li class="labelData"><span>EMail:</span><a ng-click="selected.item = items.Email">E-Mail:{{items.Email}}</a></li>
            </ul>
            -->

            <table style="font-size:18px">
                <tr>
                    <td class="labelData">FirstName:</td> <td class="data" ng-click="selected.item = items.FirstName">{{items.FirstName}}</td>
                </tr>
                <tr>
                    <td class="labelData">LastName:</td><td class="data" ng-click="selected.item = items.LastName">{{items.LastName}}</td>
                </tr>
                <tr>
                    <td class="labelData">EMail:</td><td class="data" ng-click="selected.item = items.Email">{{items.Email}}</td>
                </tr>
            </table>
            <br />
            
            Selected: <b>{{ selected.item}}</b>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">Save</button>
            <button class="btn btn-primary" ng-click="cancel()">Cancel</button>
        </div>
    </script>

    <style>
        .labelData {
            width:150px;
            font-weight:bold;
        }

        .data
        {
            color:#245580;
            cursor:pointer;
        }

    </style>
    <!--
    <button class="btn btn-default" ng-click="open()">Open me!</button>
    <button class="btn btn-default" ng-click="open('lg')">Large modal</button>
    <button class="btn btn-default" ng-click="open('sm')">Small modal</button>
    <button class="btn btn-default" ng-click="toggleAnimation()">Toggle Animation ({{ animationsEnabled }})</button>
    <div ng-show="selected">Selection from a modal: {{ selected }}</div>
        -->
</div>
