

<div> <!--ng-controller="DialogController"-->

    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">{{items.FirstName}}</h3>
        </div>

        <img height="100px" style="float:right;" ng-src="{{items.ProfilePicture}}" />


        <div class="modal-body">
            <ul>
                <!--
                <li ng-repeat="item in items track by $index">
                    <a ng-click="selected.item = item">{{ item }}</a>
                </li>
                -->
                
                <li><a ng-click="selected.item = items.FirstName">FirstName:{{items.FirstName}}</a></li>
                <li><a ng-click="selected.item = items.LastName">LastName:{{items.LastName}}</a></li>
                <li><a ng-click="selected.item = items.Email">E-Mail:{{items.Email}}</a></li>
            </ul>
            Selected: <b>{{ selected.item}}</b>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">Save</button>
            <button class="btn btn-primary" ng-click="cancel()">Cancel</button>
        </div>
    </script>
    <!--
    <button class="btn btn-default" ng-click="open()">Open me!</button>
    <button class="btn btn-default" ng-click="open('lg')">Large modal</button>
    <button class="btn btn-default" ng-click="open('sm')">Small modal</button>
    <button class="btn btn-default" ng-click="toggleAnimation()">Toggle Animation ({{ animationsEnabled }})</button>
    <div ng-show="selected">Selection from a modal: {{ selected }}</div>
        -->
</div>
