@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>



<h1>
    Help Section
</h1>



<div style="font-size:16px; color:grey;">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur rutrum ultricies lacus, id dapibus felis mollis vel. Nullam ligula magna, cursus a tincidunt vitae, tristique nec nunc. Suspendisse viverra ipsum vel erat hendrerit pulvinar. Sed et metus eleifend, vestibulum diam in, gravida lorem. Donec ut libero ultricies nisl imperdiet tincidunt. Nulla facilisi. Aliquam in auctor quam. Phasellus efficitur nisl eget tincidunt semper. Fusce sit amet massa blandit sapien volutpat vestibulum sit amet nec nulla.

    Aenean iaculis ex at magna tempor, eget placerat diam volutpat. Duis vestibulum tempor ex, sed fringilla augue tristique et. Aenean efficitur lacus sed neque congue, vel venenatis justo viverra. Curabitur at ipsum eleifend, mattis felis et, ultrices magna. Pellentesque id arcu eu purus aliquam vestibulum. Praesent vitae rhoncus elit, eget accumsan urna. Curabitur eget ex in turpis tempor pretium in vestibulum mauris. Donec aliquam sapien at eros tincidunt, eleifend placerat mi placerat. Mauris arcu lacus, vulputate eget pharetra vitae, elementum eget magna. Sed sit amet rhoncus purus, sed elementum enim. Fusce facilisis dapibus finibus. Cras faucibus ligula eget ligula bibendum, quis sollicitudin purus maximus. Duis sit amet leo lorem. In eleifend tortor non venenatis vestibulum.

    Integer dapibus arcu ut libero ullamcorper, id sollicitudin enim molestie. Integer eget lacus sit amet libero venenatis tincidunt. Sed mattis at augue non volutpat. Proin finibus neque purus, et condimentum orci pellentesque a. Nullam eget commodo lectus, vehicula condimentum purus. Integer ornare ipsum sit amet massa luctus, et laoreet purus euismod. Morbi volutpat ultrices risus vitae sollicitudin. Suspendisse accumsan urna quis elit mattis rhoncus. Cras lectus massa, elementum eu erat sed, vehicula accumsan eros. Fusce posuere aliquet urna quis laoreet. Mauris ut placerat lectus. Praesent magna magna, laoreet eget sagittis nec, euismod at magna.
</div>

<div style="font-size:16px; color:grey;margin-top:27px;">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur rutrum ultricies lacus, id dapibus felis mollis vel. Nullam ligula magna, cursus a tincidunt vitae, tristique nec nunc. Suspendisse viverra ipsum vel erat hendrerit pulvinar. Sed et metus eleifend, vestibulum diam in, gravida lorem. Donec ut libero ultricies nisl imperdiet tincidunt. Nulla facilisi. Aliquam in auctor quam. Phasellus efficitur nisl eget tincidunt semper. Fusce sit amet massa blandit sapien volutpat vestibulum sit amet nec nulla.

    Aenean iaculis ex at magna tempor, eget placerat diam volutpat. Duis vestibulum tempor ex, sed fringilla augue tristique et. Aenean efficitur lacus sed neque congue, vel venenatis justo viverra. Curabitur at ipsum eleifend, mattis felis et, ultrices magna. Pellentesque id arcu eu purus aliquam vestibulum. Praesent vitae rhoncus elit, eget accumsan urna. Curabitur eget ex in turpis tempor pretium in vestibulum mauris. Donec aliquam sapien at eros tincidunt, eleifend placerat mi placerat. Mauris arcu lacus, vulputate eget pharetra vitae, elementum eget magna. Sed sit amet rhoncus purus, sed elementum enim. Fusce facilisis dapibus finibus. Cras faucibus ligula eget ligula bibendum, quis sollicitudin purus maximus. Duis sit amet leo lorem. In eleifend tortor non venenatis vestibulum.

    Integer dapibus arcu ut libero ullamcorper, id sollicitudin enim molestie. Integer eget lacus sit amet libero venenatis tincidunt. Sed mattis at augue non volutpat. Proin finibus neque purus, et condimentum orci pellentesque a. Nullam eget commodo lectus, vehicula condimentum purus. Integer ornare ipsum sit amet massa luctus, et laoreet purus euismod. Morbi volutpat ultrices risus vitae sollicitudin. Suspendisse accumsan urna quis elit mattis rhoncus. Cras lectus massa, elementum eu erat sed, vehicula accumsan eros. Fusce posuere aliquet urna quis laoreet. Mauris ut placerat lectus. Praesent magna magna, laoreet eget sagittis nec, euismod at magna.
</div>

